In [13]:
%matplotlib inline

from pathlib import Path

import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier
import matplotlib.pylab as plt
from dmba import classificationSummary

In [27]:
stat

  customer  year course
0     Stat   1.0    yes
1      etc   1.1     no
2       IT   1.0   None

In [52]:
# 7.1
# a
stat = pd.DataFrame({'customer':['Stat','etc','IT'], 'year':[1,1.1,1], 'course':['yes','no',None]})
stat1 = pd.get_dummies(stat,columns=['customer'], drop_first=True)
stat2 = pd.get_dummies(stat,columns=['customer'])
stat1

   year course  customer_Stat  customer_etc
0   1.0    yes              1             0
1   1.1     no              0             1
2   1.0   None              0             0

In [53]:
# b
# 2개 이진변수
knn = NearestNeighbors(n_neighbors=2)
knn.fit(stat1.iloc[0:2,:].drop(columns='course'))
distances, indices = knn.kneighbors(stat1.iloc[[2],:].drop(columns='course'))
print(distances, indices)

[[1.         1.00498756]] [[0 1]]

In [50]:
# 3개 이진변수
knn = NearestNeighbors(n_neighbors=2)
knn.fit(stat2.iloc[0:2,:].drop(columns='course'))
distances, indices = knn.kneighbors(stat2.iloc[[2],:].drop(columns='course'))
print(distances, indices)

[[1.41421356 1.41774469]] [[0 1]]

In [65]:
# c
# 2개 이진변수
knn = KNeighborsClassifier(n_neighbors=1).fit(stat1.iloc[0:2,:].drop(columns='course'),
                                              stat1.iloc[0:2,:][['course']]) # fit
print(knn.predict(stat1.iloc[[2],:].drop(columns='course')))

['yes']

/Users/JAE111/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [62]:
# 3개 이진변수
knn = KNeighborsClassifier(n_neighbors=1).fit(stat2.iloc[0:2,:].drop(columns='course'),
                                              stat2.iloc[0:2,:][['course']]) # fit
print(knn.predict(stat2.iloc[[2],:].drop(columns='course')))

['yes']

/Users/JAE111/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [ ]:
# 차이가 없다

In [66]:
# 7.2
# 반응변수 : Personal Loan

In [7]:
bank = pd.read_csv("UniversalBank.csv")
bank = bank.drop(columns=['ID','ZIP Code'])
bank_ = pd.get_dummies(bank, columns=['Family','Education'])

x = bank_.drop(columns=['Personal Loan'])
y = bank_['Personal Loan']

train_set, valid_set = train_test_split(bank_,test_size=0.4, random_state=1)
train_x = train_set.drop(columns=['Personal Loan'])
train_y = train_set['Personal Loan']
valid_x = valid_set.drop(columns=['Personal Loan'])
valid_y = valid_set['Personal Loan']

In [8]:
# a
knn = KNeighborsClassifier(n_neighbors=1).fit(x,y) # fit
knn.predict(train_x)

array([0, 0, 0, ..., 0, 0, 0])

In [9]:
# b
results = []
for k in range(1,15):
    knn = KNeighborsClassifier(n_neighbors=k).fit(train_x, train_y)
    results.append({
        'k':k, 'accuracy':accuracy_score(valid_y, knn.predict(valid_x))
    })
# Convert results to a pandas data frame
results = pd.DataFrame(results)
results
# k = 9

     k  accuracy
0    1    0.8970
1    2    0.9040
2    3    0.9005
3    4    0.9050
4    5    0.9030
5    6    0.9035
6    7    0.9030
7    8    0.9020
8    9    0.9070
9   10    0.9050
10  11    0.9025
11  12    0.9060
12  13    0.9040
13  14    0.9050

In [35]:
# c 
knn = KNeighborsClassifier(n_neighbors=9).fit(train_x, train_y)
classificationSummary(valid_y, knn.predict(valid_x), ['no','yes'])

Confusion Matrix (Accuracy 0.9020)

       Prediction
Actual   no  yes
    no 1305   44
   yes  103   48

/Users/JAE111/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [36]:
# d
new = pd.DataFrame({'Age' : [40], 'Experience' : [10], 'Income' : [84], 'Family_1':[0], 'Family_2' : [1],
                    'Family_3' : [0],'Family_4' : [0],'CCAvg' : [2],
                    'Education_1' : [0], 'Education_2' : [1], 'Education_3' : [0], 'Mortgage' : [0],
                    'Securities Account' : [0], 'CD Account' : [0], 'Online' : [1], 'Credit Card' : [1]})
new

,Age,Experience,Income,Family_1,Family_2,Family_3,Family_4,CCAvg,Education_1,Education_2,Education_3,Mortgage,Securities Account,CD Account,Online,Credit Card
0,40,10,84,0,1,0,0,2,0,1,0,0,0,0,1,1

In [37]:
knn.predict(new)

array([0])

In [38]:
# e
train_x, valid_x, train_y, valid_y = train_test_split(bank_.drop(columns=['Personal Loan']),
                                                      bank_[['Personal Loan']], test_size=0.5, random_state=1)
valid_x, test_x, valid_y, test_y = train_test_split(valid_x,valid_y, test_size=0.4, random_state=1)

In [39]:
classificationSummary(train_y, knn.predict(train_x), ['no','yes'])

Confusion Matrix (Accuracy 0.9200)

       Prediction
Actual   no  yes
    no 2207   52
   yes  148   93

In [40]:
classificationSummary(valid_y, knn.predict(valid_x), ['no','yes'])

Confusion Matrix (Accuracy 0.9020)

       Prediction
Actual   no  yes
    no 1305   44
   yes  103   48

In [41]:
classificationSummary(test_y, knn.predict(test_x), ['no','yes'])

Confusion Matrix (Accuracy 0.9030)

       Prediction
Actual  no yes
    no 879  33
   yes  64  24